<mat-card>
  <mat-card-content>
    <div>
      <h1>Mettre a jour votre nom d'utilisateur :</h1>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nom d'utilisateur</mat-label>
        <input #usernameInput matInput placeholder="Nom d'utilisateur" value="{{uds.username}}">
      </mat-form-field>
      <button (click)="updateUsername(usernameInput.value);">Enregistrer</button>
    </div>
    
    <div>
      <h1>Liste des mes amis :</h1>
      <ul *ngFor="let friend of uds.friends;">
        <li>Id : {{friend.userId}}</li>
        <li>Nom : {{friend.username}}</li>
      </ul>
    </div>

    <div>
      <h1>Rechercher un.e ami.e :</h1>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nom d'utilisateur de l'ami</mat-label>
        <input type="text" matInput #friendInput (keyup)="search(friendInput.value)">
      </mat-form-field>
    </div>

    <div>
      <h1>Résultat :</h1>
      <ul *ngFor="let item of items$ | async">
        <li>Id : {{item.userId}}</li>
        <li>Nom : {{item.username}}</li>
        <li><button (click)="addFriends(item.userId);">Ajouter l'ami : {{item.username}}</button></li>
      </ul>
    </div>


  </mat-card-content>
</mat-card>