h3 {
    color: rgb(252, 200, 64) !important;
    margin-bottom: 5px;
}

p,
li {
    color: white;
}

.container-us{
    width: 30%;
    margin: 0 20px 0 20px;
}

.btn-us{
    margin: 10px 0 0 0 !important;
}