<header>
    <nav>
        <div class="navbar">
            <div class="flex-container">
                <img class="logo" src="../../../assets/images/logo-fitness.png"  />
                    <h2>GymTracker</h2>
                <div>
                    <div *ngIf="condition; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <button class="btn"  mat-flat-button (click)="home()">Accueil</button>
                    </ng-template>
                    <ng-template #elseBlock>
                        <button class="btn" *ngIf="user" mat-flat-button (click)="userSettings()">Paramètres utilisateur
                        </button>
                    </ng-template>
                    <button class="btn" *ngIf="user"  mat-flat-button (click)="logout()">Déconnexion
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <div *ngIf="user">
        <h4 class="welcome">Salut &nbsp;<span style="color: rgb(252, 200, 64);"> {{ uds.username }}</span> , Bienvenue sur votre Application GymTracker ! :
        </h4>
    </div>

</header>