<header>
    <nav>
        <img class="logo" src="../../../assets/images/logo2.png" style="border: solid;"/>
        <h2 *ngIf="!user" >FocusFlow</h2>
        <button class="btn" *ngIf="user" style="border: solid 2px #fff" mat-flat-button (click)="logout()">Déconnexion </button>
    </nav>

    <div class="page-header-container">
        <h2>{{pageTitle}}</h2> 
        <button mat-icon-button aria-label="Change Theme" (click)="changeTheme()">
            <mat-icon class="icon-theme" [svgIcon]="currentThemeIcon"></mat-icon>
        </button>
    </div>

    <div *ngIf="user" >
        <h4>Salut <span style="color: #e01d5b;">{{userDataResult?.username}}</span> ! Bienvenue sur votre todo list :</h4> 
    </div>
    
</header>
