<div *ngFor="let chart of collectionDataChart;">
  <h1>{{chart[0].username == "moi" ? "Mon graphique :" : "Graphique de : " + chart[0].username }}</h1>
  <div id="chart" *ngIf="chart.chartOptions">
    <apx-chart 
      [series]="chart.chartOptions.series" 
      [chart]="chart.chartOptions.chart" 
      [xaxis]="chart.chartOptions.xaxis"
      [stroke]="chart.chartOptions.stroke" 
      [tooltip]="chart.chartOptions.tooltip"
      [dataLabels]="chart.chartOptions.dataLabels">
    </apx-chart>
  </div>
</div>