<mat-card>
    <mat-card-content style="display: flex; flex-wrap: nowrap;">
        <mat-form-field style="width: 80%; font-size: 22px;" appearance="fill">
            <mat-label style="color: white;">Votre nouvelle tache ici</mat-label>
            <input type="text" matInput #addTodoInput (keyup.enter)="addTodo(addTodoInput.value)">
        </mat-form-field>

        <button mat-button class='btn' style=" display: flex; justify-content: center; margin: 4%; border: solid 2px #481C4B"(click)="addTodo(addTodoInput.value)">Ajouter</button>
    </mat-card-content>
</mat-card>
