@import "./scss/theme";

/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    font-size: 18px;
    box-sizing: border-box;
}
body { 
    color: white !important;
    margin: 0; 
    font-family: "Josefin Sans", "Helvetica Neue", sans-serif; 
    background-repeat: no-repeat;
   
}

.mat-form-field-underline {
    display: none;
}

.mat-form-field-wrapper {
    padding: 0;
}

.icon-check {
    border-radius: 90px;
    background: linear-gradient(#E01D5B, #481C4B);
    position: relative;
    svg {
        position: absolute;
        top: 8px;
        left: 6px;
    }
}

.mat-card {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.mat-input-placeholder {
    color: white !important;
}
.btn {
    color: white;
    background-color: #e01d5b;
}
 h2 {
    letter-spacing: 2px !important;
    font-size: 30px !important;
    font-weight: 700 !important;
    color: #ffffff !important;
}
@keyframes zoomIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.zoom-in {
  animation: zoomIn 0.3s ease;
}
