@import "./scss/theme";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    font-size: 18px;
    box-sizing: border-box;
}

body {
    color: white !important;
    margin: 0;
    font-family: "Josefin Sans", "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;

}

.mat-card {
    color: white !important;
    background-color: rgb(34, 39, 37) !important;
}

.mat-input-placeholder {
    color: white !important;
}

.btn {
    color: white;
    background-color: #e01d5b;
}

.zoom-in {
    animation: zoomIn 0.3s ease;
}

.btn {
    border: solid 2px !important;
    border-color: rgb(252, 200, 64) !important;
    color: rgb(252, 200, 64);
    background-color: rgb(34, 39, 37);
    margin-left: 20px !important;
}

.btn-add-friend {
    border: solid 2px !important;
    border-color: rgb(252, 200, 64) !important;
    color: rgb(252, 200, 64);
    background-color: rgb(34, 39, 37);
}

h3 {
    color: rgb(252, 200, 64) !important;
}

.mat-flat-button {
    min-width: auto !important;
    padding: 0 8px !important;
}

.box {
    background-color: #5d6361 !important;
    border-radius: 10px !important;
    padding: 25px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}