mat-progress-bar{
    border-radius: 10px;
    height: 0.5rem;
}

.title-progress{
    color: white ;
    text-decoration: underline;
    margin-bottom: 0;
}

.pourcentage{
    display: flex;
    color: white;
    justify-content: center;
}